[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/webhook/stripe"
  to = "/.netlify/functions/stripe-webhook"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
